/* Breakpoints */

/* XS */ @media screen and (max-width: 480px) {}

/* S */ @media screen and (min-width: 480px) and (max-width: 719px) {}

/* M */ @media screen and (min-width: 720px) and (max-width: 1279px) {}

/* L */ @media screen and (min-width: 1280px) and (max-width: 1919px)  {}

/* XL */ @media screen and (min-width: 1920px) {}

:root {
    --light: white;
    --dark: black;
}


body, html { 
    --light: white;
    --dark: black;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

html {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light);
    font-size: 16px;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: Literata, serif;
    font-variation-settings: 'wght' 400;
    font-weight: 400;

    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: var(--light);
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    color: var(--dark);
    overflow-x: hidden;
    max-width:100vw;
    width: 100%;
}

h1, {
    animation: fade-in 1s ease forwards;
    animation-delay: 0.25s;
    opacity: 0;
}
a {
  text-decoration: none;
    color: inherit;
    font-size: inherit;
}
b {
    font-variation-settings: 'wght' 700;
    font-weight: 700;
}

.right {
    text-align: right !important;
}

header{
     display: grid;
    grid-template-columns: auto auto;
}

header > div {
    padding: 24px;
} 

footer > div {
    padding: 24px;
} 

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(720px, 1fr));
    width:auto;
    border: 3px dotted var(--dark);
    grid-gap: 3px;
    background-color: black;
    transition: 0.3s ease;
}

.box{
    padding: 24px;
    /*border-right: 3px dotted var(--dark);
    border-bottom: 3px dotted var(--dark);*/
    width: auto;
    height:auto;
    animation: fade-in 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
    background-color: white;
}

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateX(-12px);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.box:nth-child(1){
    animation-delay: 1s;
}
.box:nth-child(2){
    animation-delay: 1.5s;
}
.box:nth-child(3){
    animation-delay: 2s;
}
.box:nth-child(4){
    animation-delay: 2.5s;
}
.box:nth-child(5){
    animation-delay: 3s;
}
.box:nth-child(6){
    animation-delay: 3.5s;
}
.box:nth-child(7){
    animation-delay: 4s;
}
.box:nth-child(8){
    animation-delay: 4.5s;
}
.box:nth-child(9){
    animation-delay: 5s;
}
.box:nth-child(){
    animation-delay: 5.5s;
}



main > div .letter{
        text-align: center;
        padding:12px;
        font-size: 24rem;
        font-family: Isolation !important;
        animation: isol 28s linear infinite;
        line-height: 100%;
        margin-top: -48px;
}

.no-anim {
    animation: none !important;
}

@keyframes isol {
    0%, 100%{
        font-variation-settings: 'wght' 100;
    }
    
    50%{
        font-variation-settings: 'wght' 700;
    }
}

main > div .description {
    text-align: center;
    font-size:1rem;
}

footer {
    
    min-height:100vh;
    background-color: var(--dark);
    color: var(--light);
    padding-top: 128px;

}


@media screen and (min-width: 720px) and (max-width: 1279px) {
    
}

@media screen and (min-width: 480px) and (max-width: 719px) {
    main{
         grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    }
    
    
    h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
     main{
         grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    
    main > div .letter{
        font-size: 20rem;
    }
    
    h1 {
        font-size: 1.2rem;
    }
}